@import url('./reset');
:root {
  --primary-color-400: #2D609B;
  --primary-color-500: #4680B0;
  --primary-color-100: #0D1E4A;
  --success-color-500: #12B76A;
  --success-color-100: #D1FADF;
  --background-main-color: #F2F2F2;
  --background-modal-color: #F7F2FA;
  --background-disabled-color: #DCD8E0;
  --background-second-color: #BAD0E2;
  --outline-ligth-color: #D3D3D3;
  --outline-icons-color: #C4CDD5;
  --outline-disabled-color: #BCBABF;
  --outline-border-color: #79747E;
  --text-primary-color:#333333;
  --text-second-color: #49454F;
  --text-thr-color: #FFFFFF;
  --text-disabled-color:#A8A3AB;
  --accent-color: #7EBBED;
  --text-button-color:  #FEF7FF;
  --border-4:0.25rem;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background-color: var( --background-main-color);
}
a:hover{
  background-color: var(--accent-color);
}

@font-face {
  font-family: "robotoMedium";
  src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "robotoReg";
  src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}
