.main {
	background: #f2f2f2;
	flex-grow: 1;
}

.nav {
	padding-top: .5rem;
}

.list li  a{
	font-family: robotoReg;
	font-size: .875rem;
	letter-spacing: .03125em;
	color: var(--text-primary-color);
	padding: .5rem .75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 2.5rem;
}

.specialPaddings li a{
	padding: 0.813rem;
}
/* для неактивных иконок */
.warehouseIcon path{
	fill:var( --text-disabled-color) ;
}
.factoryIcon path{
	fill:var( --text-disabled-color) ;
}
.settingsIcon path:first-of-type{
	fill:var( --text-disabled-color) ;
}
.settingsIcon path:last-of-type{
	stroke:var( --text-disabled-color) ;
}
.unactive a:hover{
  background-color: var(--background-main-color);
}
.infoIcon g path{
	stroke:var( --text-disabled-color)  ;
}
 .infoIcon g path:last-of-type{
	fill:var( --text-disabled-color)  ;
	stroke: none;
} 
.unactive span{
	color: var( --text-disabled-color);
}
.unactive a{
	cursor: default;
}
