.main {
	background: #f2f2f2;
	min-height: 24.5625rem;
}

.nav {
	padding-top: .5rem;
}

.list li  a{
	font-family: robotoReg;
	font-size: .875rem;
	letter-spacing: .04em;
	color: var(--text-primary-color);
	padding: .5rem .75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 2.5rem;
}

.specialPaddings li {
	padding: 0.813rem;
}
.unactive svg{
	stroke:var( --text-disabled-color); 
} 
.unactive svg path{
	stroke:var( --text-disabled-color);
}  
.unactive a:hover{
  background-color: var(--background-main-color);
}
.unactive span{
	color: var( --text-disabled-color);
}
.unactive a{
	cursor: default;
}
