.main {
	flex-grow: 1;
}

.nav {
	padding-top: .5rem;
}

.list li  a{
	font-family: robotoReg;
	font-size: .875rem;
	letter-spacing: .03125em;
	color: var(--text-primary-color);
	padding: .5rem .75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 2.5rem;
}

.specialPaddings li a{
	padding: 0.813rem;
}


.unactive a:hover{
	background-color: var(--background-main-color);
}
.unactive span{
	color: var( --text-disabled-color);
}
.unactive a{
	cursor: default;
}
