

/* для disabled  */
.warehouseIconDis path{
  fill:var( --text-disabled-color) ;
}
.factoryIconDis path{
 fill:var( --text-disabled-color) ;
}
.settingsIconDis path:first-of-type{
 fill:var( --text-disabled-color) ;
}
.settingsIconDis path:last-of-type{
 stroke:var( --text-disabled-color) ;
}
.infoIconDis g path{
 stroke:var( --text-disabled-color)  ;
}
.infoIconDis g path:last-of-type{
 fill:var( --text-disabled-color)  ;
 stroke: none;
} 