.main {
	flex-grow: 1;
	background: #f2f2f2;
	padding-inline: .5rem;
	padding-top: 6.25rem;
}

.info {
	font-family: robotoReg;
	font-weight: 500;
	font-size: .75rem;
	letter-spacing: 0.04em;
	color: var(--text-primary-color);
}


.infoFields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	'giving taking'
	'number number';
	gap: .375rem;
	margin-top: .25rem;
	margin-bottom: .375rem;
}

.infoFields  fieldset {
	border-color: var(--outline-disabled-color);
	margin: 0;
}

.infoFields fieldset > legend {
	color: var(--text-disabled-color);
}

.infoFields fieldset > input {
	color: var(--text-disabled-color);
}

.infoFields fieldset:first-child {
	grid-area: giving;
}

.infoFields fieldset:first-child {
	grid-area: giving;
}

.infoFields fieldset:nth-child(2) {
	grid-area: taking;
}

.infoFields fieldset:last-child {
	grid-area: number;
}