.inputFilter{
  line-height: 150%;
  width: 87px;
}
fieldset{
  font-family: "robotoReg";
  font-size:0.75rem ;
  border-radius:  0.25rem;
  border: 1px solid var(--outline-border-color);
  margin: 0 0.5rem;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  color: var(--text-primary-color)
      
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
fieldset legend{
  padding: 0px 0.375rem;
}
input{
  width: 5.1875rem;
  font-size: 1rem;
}

