.selectFieldset {
    width: 305px;
    font-family: "robotoReg";
    font-size: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--outline-border-color);
    padding-block-start: 0.35em;
    padding-block-end: 1.2em;
    padding-inline-start: 0.7em;
  
}

.selectLegend {
    padding: 0px 0.375rem;
}

.customSelectWrapper {
    position: relative;
    width: 290px;
}

.customSelect {
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    padding: 0.5rem;
}

.noPadding {
    padding: 0; /* Убираем padding при выборе опции */
}

.selectedOption {
    font-size: 1rem;
    white-space: nowrap; /* Запрещает перенос текста */
    overflow: hidden; /* Скрывает текст, который выходит за границы */
    text-overflow: ellipsis;
}

.optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-modal-color);
    border: 1px solid var(--outline-ligth-color);
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 0.9rem;
}

.option {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.option:first-of-type {
    border-bottom: 1px solid var(--outline-ligth-color);
    border-radius: 0;
}

.selectDisabled {
    border: 1px solid var(--background-disabled-color);
}

.disabledSelect {
    color: var(--text-disabled-color);
    cursor: not-allowed;
}

.legendDisabled {
    color: var(--text-disabled-color);
}
