.footer{
    margin-inline: auto;
    padding-inline: 2.3rem;
    padding-block: 0.3rem;
    width: 100%;
    height: 3.375rem;
    background-color: var(--background-main-color);
    font-family: 'robotoMedium';
    font-size: 12px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color: var( --text-primary-color);
  }
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding-inline-start: 0;
}

.item,.item>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.33em;
    cursor: pointer;
}