.footer{
    position: absolute;
    bottom: 0;
    margin-inline: auto;
    padding-inline: 2.3rem;
    padding-block: 0.3rem;
    width: 100%;
    height: 54px;
    background-color: var(--background-main-color);
    font-family: 'robotoMedium';
    font-size: 12px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding-inline-start: 0;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.33em;
}

.text{
    margin: 0;
    cursor: default;
}