.title{
  display: flex;
  gap: 10px;
}
.main{
  padding: 0 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

h1{
  font-size: 14px;
  font-family: "robotoReg";
   line-height: 1rem;
   letter-spacing: 0.5px;
}
form fieldset{
  width: 100%;
}