

fieldset{
    font-family: "robotoReg";
    font-size:0.75rem ;
    border-radius:  0.25rem;
    border: 1px solid var(--outline-border-color);
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-block-end: 0.625em;
    color: var(--text-primary-color);
    width: 100%;
}
.inputFilter{
    background-color: var(--background-main-color);
    line-height: 150%;
    padding-block: 1px;
    width: 296px;
    padding-inline-end: 0.35em;
    font-size: 15px;
    width: 100%;
}

fieldset legend{
    padding: 0px 0.375rem;
}
.inputDisabled{
    border: 1px solid var(--background-disabled-color);
}
