.inputFieldset{
    width: 296px;
    font-family: "robotoReg";
    font-size:0.75rem ;
    border-radius:  0.25rem;
    border: 1px solid var(--outline-border-color);
    padding-block-start: 0.35em;
    padding-block-end: 0.625em;
    padding-inline-start: 0.7em;
    color: var(--text-primary-color);
}

.inputFilter{
    background-color: var(--background-main-color);
    line-height: 150%;
    width: 296px;
    padding-inline-end: 8px;
    font-size: 15px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

legend{
    padding: 0px 0.375rem;
}
