.selectFieldset {
  font-family: "robotoReg";
  font-size: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--outline-border-color);
  padding-block-start: 0.35em;
  padding-block-end: 1.2em;
  padding-inline-start: 0.7em;
}

.selectLegend {
  padding: 0px 0.375rem;
}

.customSelect {
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  height: 20px;
  display: flex;
}

.noPadding {
  padding: 0; 
}

.selectedOption {
  font-size: 1rem;
  text-overflow: ellipsis;
  text-wrap: wrap;
  width: 100%;
}

.optionsList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-modal-color);
  border: 1px solid var(--outline-ligth-color);
  border-radius: 0.25rem;
  overflow-y: auto;
  z-index: 10;

}

.option {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.option {
  border-bottom: 1px solid var(--outline-ligth-color);
  border-radius: 0;
}
.option:last-child {
  border-bottom: none;
  border-radius: 0;
}

.selectDisabled {
  border: 1px solid var(--background-disabled-color);
}

.disabledSelect {
  color: var(--text-disabled-color);
  cursor: not-allowed;
}

.legendDisabled {
  color: var(--text-disabled-color);
}
